@use "../libs/pxtorem.scss" as *;

// Font
$fontFamily: "Gilroy", sans-serif;
$fontSize: clamp(rem(18), 1.2vw, rem(22));

// Colors
$mainGreenColor: #529a9a;
$mainGreenColorHover: #2db0b0;
$textColor: #353434;
$whiteColor: #fdfafa;
$whiteColorHover: #e2ebe5;
$secondOrangeColor: #f7978e;
$secondOrangeColorHover: #ec756a;
$starRateColor: linear-gradient(70deg, #f59f50 0%, #fcb121 100%);
$grayColor: #6d6d6d;
$darkColor: #162525;
$lightGreenColor: #8df8f8;
$lightOrangeColor: #fff6f4;

$circleDecorOrange: #e16854;
$mainGreenColorAlpha: rgba(82, 154, 154, 0.1);

$buttonGreenColorFocus: #3ab9b9;
$buttonWhiteColorFocus: #bbdcdc;
$buttonOrangeColorFocus: #f9887e;
$buttonDisabled: #dcdcdcfe;

// Breakpoints
$laptopL: rem(1439.98);
$laptop: rem(1023.98);
$tablet: rem(767.98);
$mobileL: rem(424.98);
$mobileM: rem(374.98);
$mobileS: rem(319.98);
