@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;

@keyframes pulseIcon {
    0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes downToUpImage {
    0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-1.4rem);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes circleDisappear {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    40% {
        transform: scale(0);
        opacity: 0;
    }
}