@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;

@keyframes pulseIcon {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes downToUpImage {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-1.4rem);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes iconRotate {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes circleDisappear {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	40% {
		transform: scale(0);
		opacity: 0;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(1.2rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-1.2rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-1.2rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(1.2rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes zoomInWithRotate {
	from {
		opacity: 0;
		transform: rotate(-90deg) scale(0.9);
	}
	to {
		opacity: 1;
		transform: rotate(-90deg) scale(1);
	}
}

@keyframes rotateIn {
	from {
		opacity: 0;
		transform: rotate(-40deg) scale(0.6);
	}
	to {
		opacity: 1;
		transform: rotate(1) scale(1);
	}
}
