@use "../base/vars.scss" as *;
@use "../libs/pxtorem.scss" as *;
@use "../base/mixins.scss" as *;
@use "../animation/animations.scss" as *;

.circles {
	@include circleDecor;
}

.decor-image {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: clamp(rem(44), 5vw, rem(100));
	height: clamp(rem(44), 5vw, rem(100));
	background-color: $whiteColor;
	box-shadow: 2px 2px 18px 0 rgba(225, 104, 84, 0.24);
	border-radius: 24%;
	z-index: 2;
	animation: downToUpImage 3s infinite;
	&:nth-of-type(3) {
		top: 25%;
		left: 1%;
        transform: skewX(4deg) rotate(-2deg);
	}
	&:nth-of-type(4) {
		bottom: 14%;
		left: 2%;
        transform: rotate(-16deg);
		animation-delay: .2s;
	}
	&:nth-of-type(5) {
		top: 10%;
		right: 12%;
        transform: rotate(-6deg) skewX(-16deg);
		animation-delay: .4s;
	}
	&:nth-of-type(6) {
		bottom: 14%;
		right: 10%;
        transform: rotate(-14deg) skewX(-28deg);
		animation-delay: .6s;
	}
	img {
		width: 50%;
	}
	&::before {
		content: "";
		position: absolute;
		width: 88%;
		height: 88%;
		background-color: $circleDecorOrange;
		border-radius: 24%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
    &--reverse {
	    background-color: $circleDecorOrange;
        &::before {
            background-color: $whiteColor;
        }
    }
}